<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [8]:
y=40      #make y have the value 40
y=y+2     #add y=40 to 2 THEN make y = equal to the answer
print(y)  #works in programming but NOT math
x=y=10    #this works too!

42

### 1.2 Shorter and cleaner

In [10]:
y=40
y+=2      #same as y=y+2
y         #don't need to use print()?

y-=2      #same as y=y-2
y

y/=2      #same as y=y/2
y*=2      #same as y=y*2
y

40.0

### 1.3 Asking questions

In [15]:
fruits=["apple","banana","pineapple","durian"]
vegetables=["celery","potato","broccoli","kale"]

"apple" in fruits
"peach" in fruits
"peach" not in fruits    #will only ans the latest line of code
("apple" in fruits) and ("celery" in vegetables)
("apple" in fruits) or ("celery" in vegetables)   #3>'apple' won't work in basic python

True

In [ ]:
#equals: ==
#not equal: !=
#less than, greater than: <, >
#less than or equal: <=

In [19]:
"apples">"oranges"   #works because eng letters are internally represented as numbers, eg. a=96

False

In [21]:
(x>5) and (x<15)
#same as 5<x<15

True

### 1.4 There is more to if

In [25]:
name="Joe"
if name=="Joe":                 #use == for if
    print("Hello Joe|Mama!")
elif name=="Robin":             #elif is else if
    print("Hello Robin")
else:
    print("Hello World!")

Hello Joe|Mama!

### 1.5 Python stores information in different formats or types.

In [27]:
#using the function type()
x=int(1.234)      #as integer
print(x,type(x))

1 <class 'int'>

In [29]:
x=str(1.234)        #as an english word?? but it's not a word tho
print(x,type(x))

1.234 <class 'str'>

In [30]:
x=float(1.234)    #as a decimal
print(x,type(x))

1.234 <class 'float'>

In [32]:
x=complex(1.234)    #as a complex number (include imaginary part)
print(x,type(x))

(1.234+0j) <class 'complex'>

[other basic data types in python](https://realpython.com/python-data-types/)

In [35]:
x='1.234'
print(x,type(x))
x=float(x)
print(x,type(x))    #typecasting, cast x into the type float

1.234 <class 'str'>
1.234 <class 'float'>

### 1.6 Combining English and variables

In [43]:
#f: f-string (string interpolation)
name="Batman"
print(f'Hello {name}!')

Hello Batman!

In [46]:
print(f'Hello {name.upper()}!')

Hello BATMAN!

In [47]:
x=10
print(f'The value of {x} squared is {x**2}!')

The value of 10 squared is 100!

In [50]:
text="bruce wayne is BATMAN"
print(f'{text}')

bruce wayne is BATMAN

In [52]:
print(f'{text:>30}')     #block of 30 characters, aligned right

         bruce wayne is BATMAN

In [55]:
print(f'{text:^30}')   #block of 30 characters, aligned centre

    bruce wayne is BATMAN

In [57]:
print(f'{text:<30}')  #block of 30 characters, aligned left

bruce wayne is BATMAN

In [61]:
print(f'The cube of pi to 6 decimal places is {np.pi**3.:6f}')
#bruh written as :.6f aft a number to give 6 decimal places

The cube of pi to 6 decimal places is 31.006277

In [63]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
#outputs number in scientific notation

The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [ ]:
#debugging tings

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

### 2.2 Getting help.

In [64]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [105]:
#using or operator
def hello(name):
    if name == "Batman" or name == "Black Widow":
        print(f'Hello {name.upper()}')
    else:
        print(f'Hello {name.lower()}')
hello("Aquaman")
hello("Batman")
hello ("Black Widow")
hello ("Joe")
hello("batMAN")

Hello aquaman
Hello BATMAN
Hello BLACK WIDOW
Hello joe
Hello batman

In [100]:
#using elif
name=["Batman","Black Widow"]
def hello(name):
    if name == "Batman": 
        print(f'Hello {name.upper()}')
    elif name == "Black Widow":
        print(f'Hello {name.upper()}')
    else:
        print(f'Hello {name.lower()}') 
hello("Aquaman")
hello("Batman")
hello ("Black Widow")
hello ("Joe")
hello("batMAN")

Hello aquaman
Hello BATMAN
Hello BLACK WIDOW
Hello joe
Hello batman

## Exercise 2 :  Bias for some heroes, continues

In [134]:
def hello (name.upper()):
    if name == "BATMAN" or name == "BLACK WIDOW":
        print(f'Hello {name.upper()}')
    else:
        print(f'Hello {name.lower()}')
hello("batMAN")

SyntaxError: invalid syntax (1645007539.py, line 1)

## Exercise 3 :  Look for help to replace

In [117]:
str = "The Joker lives in Gotham City"
str_replace = str.replace("Joker", "Batman")
print("String after replacing: " + str_replace)

String after replacing: The Batman lives in Gotham City